<div class="form-group">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2">
                Customer Id:{{oppHeader.CUST_ID}}
            </div>
            <div class="col-md-2">
                Supplier Id:{{oppHeader.SUPPLIER_ID}}
            </div>
            <div class="col-md-2">
                System Proposed:{{oppHeader.SYS_PROPOSED_SUPP_ID}}
            </div>
            <div class="col-md-2">
                User Proposed:{{oppHeader.USER_PROPOSED_SUPP_ID}}
            </div>
            <div class="col-md-2">
                Batch ID:{{oppHeader.BATCH_ID}}
            </div>
            <div class="col-md-2">
                Status:{{oppHeader.STATUS}}
            </div>
        </div>
        

    </div>
</div>