<kendo-grid [data]="gridView"   [height]="300" [sortable]="{ mode: 'multiple' }" [sort]="sort"
          (sortChange)="sortChange($event)">
    <kendo-grid-column field="LOAD_YEAR" title="Load Year">
    </kendo-grid-column>
    <kendo-grid-column field="LOAD_PERIOD" title="Load Period">
    </kendo-grid-column>
    <kendo-grid-column field="BATCH_ID" title="Batch ID">
    </kendo-grid-column>
    <kendo-grid-column field="AVG_TRANS_PER_DOC" title="Avg. Transaction per CP Document">
    </kendo-grid-column>
    <kendo-grid-column field="AVG_TRANS_PER_SUPP" title="Avg. Transaction per CP Document">
    </kendo-grid-column>
    <kendo-grid-column field="AVG_TRANS_PER_CUST" title="Avg. Transaction per CP Customer">
    </kendo-grid-column>
    <kendo-grid-column field="MAX_TRANS_PER_DOC" title="Max Transaction per CP Document">
    </kendo-grid-column>
    <kendo-grid-column field="MAX_TRANS_PER_SUPP" title="Max Transaction per CP Supplier">
    </kendo-grid-column>
    <kendo-grid-column field="MAX_TRANS_PER_CUST" title="Max Transaction per CP Customer">
    </kendo-grid-column>
</kendo-grid>