<kendo-grid [data]="gridView"   [height]="300" [sortable]="{ mode: 'multiple' }" [sort]="sort"
          (sortChange)="sortChange($event)">
    <kendo-grid-column field="LOAD_YEAR" title="Load Year">
    </kendo-grid-column>
    <kendo-grid-column field="LOAD_PERIOD" title="Load Period">
    </kendo-grid-column>
    <kendo-grid-column field="BATCH_ID" title="Batch ID">
    </kendo-grid-column>
    <kendo-grid-column field="TRANS_EXCLUDED_COUNT" title="Excluded Transaction Count">
    </kendo-grid-column>
    <kendo-grid-column field="TRANS_EXCLUDED_LINE_COUNT" title="Excluded Transaction Line Count">
    </kendo-grid-column>
    <kendo-grid-column field="TRANS_EXCLUDED_AMT" title="Excluded Transaction Total Amt (USD)">
    </kendo-grid-column>
    
</kendo-grid>