
<h3>PSR Exception Rules</h3>
    <form #psrEditForm="ngForm">
        <div class="row">
            <div class="col-md-2">
                Customer ID
            </div>
            <div class="col-md-2">
                <span *ngIf="!CUST_ID.valid" class="k-required">*</span>
                <kendo-autocomplete [data]="custOptions" [(ngModel)]="dataItem.CUST_ID" [valueField]="'CUST_ID'" [suggest]="true" #CUST_ID="ngModel" required name="custId">
                    <ng-template kendoAutoCompleteItemTemplate let-selItem>
                        <span style="color: #00F;">{{selItem.CUST_ID + " " + selItem.CUST_NAME}}</span>
                    </ng-template>
                </kendo-autocomplete>
            </div>
            <div class="col-md-2">
                Supplier ID
            </div>

            <div class="col-md-2">
                <span *ngIf="!SUPPLIER_ID.valid" class="k-required">*</span>
                <kendo-autocomplete [data]="suppOptions" [(ngModel)]="dataItem.SUPPLIER_ID" [valueField]="'SUPPLIER_ID'" [suggest]="true" #SUPPLIER_ID="ngModel" required name="suppId">
                    <ng-template kendoAutoCompleteItemTemplate let-selItem>
                        <span style="color: #00F;">{{selItem.SUPPLIER_ID + " " + selItem.SUPPLIER_NAME}}</span>
                    </ng-template>
                </kendo-autocomplete>
            </div>
            <div class="col-md-2">
                Effective Date
            </div>
            <div class="col-md-2">
                <span *ngIf="!EFF_DATE.valid" class="k-required">*</span>
                <kendo-dateinput [format]="'MM/dd/yyyy'" [(ngModel)]="dataItem.EFF_DATE" name="EFF_DATE" #EFF_DATE="ngModel" required> </kendo-dateinput>
            </div>
        </div>
        <div class="row">


            <div class="col-md-2">
                Status
            </div>
            <div class="col-md-2">
                <span *ngIf="!STATUS.valid" class="k-required">*</span>
                <kendo-dropdownlist name="STATUS" #STATUS="ngModel" required
                                    [data]="statusOptions"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [ngModel]="dataItem.STATUS"
                                    [valuePrimitive]="true"
                                    (valueChange)="hStatusOption($event)">

                </kendo-dropdownlist>
            </div>
            <div class="col-md-2">
                Rule Status
            </div>
            <div class="col-md-2">
                <span *ngIf="!RULE_STATUS.valid" class="k-required">*</span>
                <kendo-dropdownlist name="RULE_STATUS" #RULE_STATUS="ngModel" required
                                    [data]="ruleStatusOptions"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [ngModel]="dataItem.RULE_STATUS"
                                    [valuePrimitive]="true"
                                    (valueChange)="hRuleStatus($event)">

                </kendo-dropdownlist>
            </div>
            <div class="col-md-2">
                Rule Source
            </div>
            <div class="col-md-2">
                <span *ngIf="!RULE_SOURCE.valid" class="k-required">*</span>
                <kendo-dropdownlist name="RULE_SOURCE" #RULE_SOURCE="ngModel" required
                                    [data]="ruleSourceOptions"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [ngModel]="dataItem.RULE_SOURCE"
                                    [valuePrimitive]="true"
                                    (valueChange)="hRuleSource($event)">

                </kendo-dropdownlist>
                
            </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Rule Level
                </div>
                <div class="col-md-2">
                    <span *ngIf="!RULE_LEVEL.valid" class="k-required">*</span>
                    <kendo-dropdownlist name="RULE_LEVEL"  #RULE_LEVEL="ngModel" required
                                        [data]="ruleLevelOptions"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [ngModel]="dataItem.RULE_LEVEL"
                                        [valuePrimitive]="true"
                                        (valueChange)="hRuleLevel($event)">

                    </kendo-dropdownlist>
                   
                </div>
                    <div class="col-md-2">
                        Scope Override
                    </div>

                    <div class="col-md-2">
                        <span *ngIf="!PROGRAM_SCOPE_IND.valid" class="k-required">*</span>
                        <kendo-dropdownlist name="PROGRAM_SCOPE_IND" required #PROGRAM_SCOPE_IND="ngModel"
                                            [data]="scopeOptions"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            [ngModel]="dataItem.PROGRAM_SCOPE_IND"
                                            [valuePrimitive]="true"
                                            (valueChange)="hPSInd($event)">

                        </kendo-dropdownlist>

                    </div>
                    <div class="col-md-2">Opp Override</div>
                    <div class="col-md-2">
                        <span *ngIf="!GBS_OPP_IND.valid" class="k-required">*</span>
                        <kendo-dropdownlist name="GBS_OPP_IND" required #GBS_OPP_IND="ngModel"
                                            [data]="oppOptions"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            [ngModel]="dataItem.GBS_OPP_IND"
                                            [valuePrimitive]="true"
                                            (valueChange)="hGOppInd($event)">

                        </kendo-dropdownlist>
                    </div>

                </div>
            <div class="row">
                <div class="col-md-2"> Supp Override</div>
                <div class="col-md-2">
                    <span *ngIf="!PROPOSED_SUPP_OVERRIDE_FLG.valid" class="k-required">*</span>
                    <kendo-dropdownlist name="PROPOSED_SUPP_OVERRIDE_FLG" #PROPOSED_SUPP_OVERRIDE_FLG="ngModel" required
                                        [data]="suppOverrideOptions"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [ngModel]="dataItem.PROPOSED_SUPP_OVERRIDE_FLG"
                                        [valuePrimitive]="true"
                                        (valueChange)="hPSOverFlag($event)">

                    </kendo-dropdownlist>

                  
                </div>
                <div class="col-md-2">Proposed Supplier</div>
                <div class="col-md-2">
                    <kendo-autocomplete [data]="suppOptions" [(ngModel)]="dataItem.PROPOSED_SUPPLIER" [valueField]="'SUPPLIER_ID'" [suggest]="true" #PROPOSED_SUPPLIER="ngModel"  name="PROPOSED_SUPPLIER">
                        <ng-template kendoAutoCompleteItemTemplate let-selItem1>
                            <span style="color: #00F;">{{selItem1.SUPPLIER_ID + " " + selItem1.SUPPLIER_NAME}}</span>
                        </ng-template>
                    </kendo-autocomplete>
                </div>
                <div class="col-md-2">
                    Updated By
                </div>
                <div class="col-md-2">
                  
                    <label >{{dataItem.UPDATED_BY}}</label>
                </div>

            </div>
        <div class="row">
            <div class="col-md-2">State</div>
            <div class="col-md-2">
                <input  role="textbox" class="k-autocomplete" type="text" [(ngModel)]="dataItem.CUST_STATE" name="CUST_STATE" />

            </div>
            <div class="col-md-2">Market Segment</div>
            <div class="col-md-2"><input class="k-autocomplete" role="textbox" type="text" [(ngModel)]="dataItem.MARKET_SEGMENT" name="MARKET_SEGMENT" /></div>
            <div class="col-md-2">Parent Id</div>
            <div class="col-md-2"><input class="k-autocomplete" role="textbox" type="text" [(ngModel)]="dataItem.ERM_PARENT_ID" name="ERM_PARENT_ID" /></div>
        </div>
            <div class="row">
                 <div class="col-md-2">Brand Id</div>
            <div class="col-md-2"><input class="k-autocomplete" role="textbox" type="text" [(ngModel)]="dataItem.ERM_BRAND_ID" name="ERM_BRAND_ID" /></div>
                <div class="col-md-2">Source ID</div>
                <div class="col-md-2">
                    <span *ngIf="!SOURCE_ID.valid" class="k-required">*</span>
                    <input  class="k-autocomplete" role ="textbox" type="text"  [(ngModel)]="dataItem.SOURCE_ID" name="SOURCE_ID" #SOURCE_ID="ngModel" required />
                    
                </div>
                <div class="col-md-2">Rule Desc</div>
                <div class="col-md-2"><input class="k-autocomplete" role ="textbox" type="text"  [(ngModel)]="dataItem.RULE_DESCRIPTION" name="RULE_DESCRIPTION" /></div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Date Updated
                </div>
                <div class="col-md-2">
                 
                    <label>{{dataItem.DATE_LAST_UPDATED | date:"MM/dd/yyyy"}}</label>
                </div>
                <div class="col-md-1">Comments</div>
                <div class="col-md-7"><textarea rows="4" cols="100" class=".k-textarea" [(ngModel)]="dataItem.COMMENTS" name="COMMENTS" style="height:80px"></textarea></div>


            </div>
    </form>
    <div class="row">
        <div class="col-md-6">
            <button class="k-button k-primary" id="back" (click)="backToSearch()">Back</button>

            <button class="k-button k-primary" (click)="save(dataItem)" [disabled]="!psrEditForm.form.valid">Save</button>
            <button class="k-button k-primary" (click)="delete(dataItem)" >Delete</button>
        </div>
    </div>

   
