<kendo-grid [data]="gridView" [height]="300" [sortable]="{ mode: 'multiple' }" [sort]="sort"
            (sortChange)="sortChange($event)">
    <kendo-grid-column field="CP_TRANS_ID_XREF" title="CP Transaction ID Xref">
    </kendo-grid-column>
    <kendo-grid-column field="CP_TRANS_DATE" title="CP Transaction Date">
    </kendo-grid-column>
    <kendo-grid-column field="CP_CUST_XREF" title="CP Customer Xref">
    </kendo-grid-column>
    <kendo-grid-column field="CP_SUPP_XREF" title="CP Supplier Xref">
    </kendo-grid-column>
    <kendo-grid-column field="TRANS_TYPE" title="Transaction Type">
    </kendo-grid-column>
    <kendo-grid-column field="CP_CUST_NAME" title="CP Customer Name">
    </kendo-grid-column>
    <kendo-grid-column field="CP_SUPP_NAME" title="CP_SUPP_NAME">
    </kendo-grid-column>
    <kendo-grid-column field="DATE_LOADED" title="Date Loaded">
    </kendo-grid-column>
    <kendo-grid-column field="FILE_ID" title="File ID">
    </kendo-grid-column>
</kendo-grid>