<kendo-grid [data]="gridView" [height]="300" [sortable]="{ mode: 'multiple' }" [sort]="sort"
            (sortChange)="sortChange($event)">
    <kendo-grid-column field="CP_TRANS_ID_XREF" title="CP Transaction ID Xref">
    </kendo-grid-column>
    <kendo-grid-column field="CP_TRANS_DATE" title="CP Transaction Date">
    </kendo-grid-column>
    <kendo-grid-column field="CP_CUST_XREF" title="CP Customer Xref">
    </kendo-grid-column>
    <kendo-grid-column field="CP_SUPP_XREF" title="CP Supplier Xref">
    </kendo-grid-column>
    <kendo-grid-column field="SUPP_MTCH_STATUS" title="Supplier Match Status">
    </kendo-grid-column>
    <kendo-grid-column field="CUST_MTCH_STATUS" title="Customer Match Status">
    </kendo-grid-column>
    <kendo-grid-column field="SUPP_MTCH_DATE" title="Supplier Match Date">
    </kendo-grid-column>
    <kendo-grid-column field="CUST_MTCH_DATE" title="Customer Match Date">
    </kendo-grid-column>
    <kendo-grid-column field="CP_CUST_NUM" title="CP Customer">
    </kendo-grid-column>

    <kendo-grid-column field="CP_SUPP_NUM" title="CP Supplier">
    </kendo-grid-column>
    <kendo-grid-column field="CUST_ID" title="Avendra Customer">
    </kendo-grid-column>
    <kendo-grid-column field="SUPPLIER_ID" title="Avendra Supplier">
    </kendo-grid-column>

</kendo-grid>